:root {
    --primary-color-nav: #1A76D1;
    --secondary-color: #F0F0F0;
    --text-color: #333;
    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-image: linear-gradient(
        to bottom,
        rgba(35, 75, 113, 0.91),
        rgba(0, 0, 0, 0.055)
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    border-bottom: 0.09px solid #c7c7c77a;
    justify-content: space-around;
    align-items: center;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo .logo-icon {
    width: 30px;
    height: 30px;
    color: var(--primary-color-nav);
}

.logo .name-labo {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    transition: transform 0.3s ease;
}

ul li {
    margin: 0 15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

ul li:first-child {
    color: var(--primary-color-nav);
    font-weight: 600;
}

ul li:hover {
    color: var(--primary-color-nav);
}

ul button {
    background-color: var(--primary-color-nav);
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    text-align: center;
}

ul button:hover {
    background-color: #155a8a;
    transform: translateX(10px);
}
.menu-toggle{
    color: #1A76D1;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

/* MOBILE STYLE */
@media (max-width: 768px) {
    .menu-toggle{
        display: block;
        cursor: pointer;
    }
    nav ul {
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 70px;
        left: 0;
        width: 60%;
        padding: 20px;
        transform: translateX(-100%);
        box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.4);
        height: 100vh;
        z-index: 9;
    }

    nav ul li {
        color: black;
        margin: 15px 0;
        width: 100%;
        text-align: center;
        padding: 0 0 15px 0;
        border-bottom: #155a8a 1px solid;
    }

    nav ul.active {
        transform: translateX(0);
    }
}
